<h1>Memory usage info</h1>
<h2><%= "Loaded #{GetProcessMem.new.mb.round - @previous_memory}MB object to memory. And currently loaded #{GetProcessMem.new.mb.round}MB data." %></h2>
<h2><%="Size of data: #{@some_array.size}"%></h2>
